.Catalogue {
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.category-link {
  width: 60%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  text-decoration: none !important;
}

.category-arrow {
  float: right;
  height: 40px !important;
  width: auto !important;
}

.category-link > img {
  width: 30%;
  height: auto;
  padding: 10px 10px;
}

.category-link > p {
  margin: 0 !important;
  font-size: 24px;
  width: 70%;
  text-align: center;
  color: black;
}

@media screen and (max-width: 768px) {
  .category-link {
    width: 90%;
    padding: 10px 10px;
  }
  .category-link > img {
    width: 35%;
  }
  .category-link > p {
    font-size: 20px;
  }
}
