.Checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 120px;
}

.UserValidation {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
