.Delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;
  height: fit-content;
}

.delivery-map {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.findme-btn {
  padding: 1em;
  width: 300px;
  background-color: #ffc72c;
  color: black;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  bottom: 70px;
}

@media screen and (max-width: 450px) {
  .findme-btn {
    width: 100%;
  }
}
