.lista-de-productos {
  margin-top: 20px;
  margin-bottom: 80px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}
