.contenedor-producto {
  width: 80%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 /9%);
}
.imagen-producto {
  height: auto;
  width: 35%;
  padding: 10px 10px;
}
.contenedor-texto-producto {
  width: 100%;
  font-size: 18px;
  text-align: justify;
  padding: 40px;
  font-weight: 400;
  line-height: 1.5rem;
}
.nombre-producto {
  font-size: 1.3rem;
  text-align: center;
}
.precio-producto {
  font-size: 1.3rem;
  text-align: center;
}
.ingredientes-producto {
  font-size: 1.3rem;
  text-align: center;
}
