.div-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-bottom: 1px solid #dfdfdf;
  background-color: white;
}

.div-header > img {
  height: auto;
  width: 48px;
}
