.Coupon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 80px;
}

.Coupon .mode-button-container {
  width: 512px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--mc-red);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0;
}

.Coupon .mode-button-container :nth-child(1) {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Coupon .mode-button-container :nth-child(2) {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Coupon .mode-button {
  color: var(--mc-red);
  text-align: center;
  font-size: 18px;
  width: 50%;
  height: 100%;
  text-decoration: none !important;
  background-color: transparent;
  font-weight: bold;
  transition: all 0.2s;
}

.Coupon .mode-button.selected {
  background-color: var(--mc-red);
  color: white;
}

.default-view {
  margin-top: 80px;
  height: fit-content;
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.default-view > img {
  width: 350px;
  height: auto;
}

.coupon-card {
  text-decoration: none !important;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 90%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.coupon-card > img {
  width: 400px;
  height: auto;
}

.coupon-card .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}

.coupon-card .info .date {
  font-size: 16px;
  font-weight: bold;
  color: var(--mc-black);
  text-align: center;
}

.coupon-card .info .price {
  font-size: 14px;
  color: var(--mc-black);
}

@media screen and (max-width: 512px) {
  .Coupon .mode-button-container {
    width: 90%;
  }
  .default-view > img {
    width: 50%;
  }
  .coupon-card > img {
    width: 90%;
  }
}
