.carousel-indicators li {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
}

.Carousel {
    margin-top: 60px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

/* li:before {
    color: #ffc72c;
} */
