.carousel-indicators li {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
}

.carousel-indicators {
  margin: 0 !important;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.carousel-item > img {
  height: 512px;
  width: auto;
}

.Carousel {
  width: 100%;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .carousel-item > img {
    height: 360px;
  }
}
