.carousel-indicators li {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50%;
}

.carousel-indicators {
  margin: 0 !important;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Carousel {
  width: 100%;
}
