.OffersList {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
}

.OffersList > offers {
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 20px;
}
